.navbar a.navbar-brand 
{
    color: #fff;
    font-weight: bold;   
    font-size: 25px;
    margin-top: 12px;
}
.navbar a.navbar-brand:hover
{
    color: #F4EEA9;
}
.navbar-expand-sm .navbar-nav > li > a {
    font-size: 18px;
    margin-top: 12px;
    font-weight: bold;
}
.navbar-expand-sm .navbar-nav .nav-link{
    color: #fff;
}
.navbar-expand-sm .navbar-nav .nav-link:hover{
    color: #FAFFAF;
    text-decoration: underline;
}
.hero{
    /* border: 1px solid black; */
    background-color: #54B435;
    color: #fff;
    height: 420px;   
}
.text-hero{
    /* margin-top: 30px; */
    text-shadow: 2px 2px 5px #111;
    text-align: left;
    /* border: 1px solid black; */
}

/* css padão para aplicação do efeito de transação */
@keyframes fadeInLeft
{
    0%{
        opacity:0;
        /* translateX reposiciona um elemento na direção horizontal e/ou vertical */
        -webkit-transform:translateX(-100px); 
        -ms-transform:translateX(-100px);
        transform:translateX(-100px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}

.slide{
    animation: fadeInLeft 2s;
}

.img-hero{
    /* border:1px solid red; */
    text-align: center;
    
}